@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 41, 54, 77;
  --background-end-rgb: 21, 26, 36;
  --fade-duration: 0.7s;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:#29364d;
}

.fade-in-bottom-top {
  opacity: 0;
  animation: fadeInBottomTop var(--fade-duration);
  animation-fill-mode: forwards;
}

@keyframes fadeInBottomTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-top-bottom {
  opacity: 0;
  animation: fadeInTopBottom var(--fade-duration);
  animation-fill-mode: forwards;
}

@keyframes fadeInTopBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-right-left {
  opacity: 0;
  animation: fadeInRightLeft var(--fade-duration);
  animation-fill-mode: forwards;
}

@keyframes fadeInRightLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-left-right {
  opacity: 0;
  animation: fadeInLeftRight var(--fade-duration);
  animation-fill-mode: forwards;
}

@keyframes fadeInLeftRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
